/*Normalize and reset the webpage*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: .8rem;
    box-sizing: border-box;
}

/*Navbar CSS*/

.navigation-bar {
    position: relative;
    height: 10vh;
}

.navigation-bar__logo-box {
    position: absolute;
    top: 0;
    left: 6rem;
}

.logo {
    height: 4rem;
}
